$information-phone: "only screen and (max-width : 480px)";

.navbar{
    display: flex;
    height: 56px;
    padding: 0 16px;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 1;
}

.navbar__left{
    display: flex;
    flex: 0.14;
    justify-content: space-between;
    .navbar__left--left{
        display: flex;
        align-items: center;
    }
    .navbar__left--right{
        display: flex;
        align-items: center;
        h2{
            @media #{$information-phone} {
                display: none;
            }
        }
    }

}
.navbar__middle{
    display: flex;
    height: 32px;

    flex: 0.5;
    @media #{$information-phone} {
        flex: auto;
        flex-direction: row-reverse
    }
    div{
        display: flex;
        border: 1px solid #d3d3d3;
        align-items: center;
        justify-content: center;
        background-color: #f8f8f8;
        width: 65px;
        @media #{$information-phone} {
            border: none;
            background-color: transparent;
        }
    }
    input{
        line-height: 24px;
        font-size: 16px;
        padding-left:10px ;
        width: 100%;
        border: 1px solid #d3d3d3;
        &:focus{
            border: 1px solid #e9e9e9;
        }
        @media #{$information-phone} {
            display: none;
        }
    }
}

.navbar__right{
    display: flex;
    flex : 0.2;
    align-items: center;
    justify-content: space-around;
    .MuiSvgIcon-root{
        @media #{$information-phone} {
            display: none;
        }
    }
}