$information-phone: "only screen and (max-width : 480px)";

.sidebar{
    width: 240px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: sticky;
    top: 56px;
    hr{
        margin: 12px 0;
        border-top:1px solid #e5e5e5;
    }
    @media #{$information-phone} {
        flex-direction: row;
        position: absolute;
        width: 100vw;
        overflow-y: hidden;
        position: fixed;
        bottom: 0px;
        top: auto;
        height: 60px;
        justify-content: space-between;
    }
}
.sidebar__item{
    height:40px ;
    display: flex;
    align-items: center;
    .MuiSvgIcon-root{
        color:#606060;
        margin: 0 24px;
    }
    &:hover{
    background-color: #f2f2f2;
    }
    @media #{$information-phone} {
        flex-direction: column;
        height: auto;
        padding-top: 10px;
    }
}
.sidebar__additional{
    @media #{$information-phone} {
        display: none;
    }
}

.sidebar__item--active{
    background-color: #e5e5e5;
    color: #030303;
    .MuiSvgIcon-root{
        color:#ff0000;
    }
    font-weight: bold;
}