.videocard{
    width: 253px;
    margin: 0 8px 40px 8px;
    img{
        width: 100% ;
        object-fit: contain;
    }
}
.videoCard__infoContainer--avatar{
    margin: 12px 12px 0 0;
}

.videoCard__infoContainer{
    display: flex;
    h4{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
    h5{
        color: #606060;
    }
}

.videoCard__infoContainer--data{
    font-size: 14px;

    div{
        display: flex;
        justify-content: space-between;
    }
}